thead {
            background-color:#cecece;
        }

        .content {
            max-width:500px;
            margin: auto;
            padding:10px;
        }

        .header {
            text-align: center;
        }

        .board {
            width: 1200px;
            margin-left: -75%;
            border: 1.5px solid;
        }

        .even_bgcolor {
            background-color:#e8efff;
        }

        .pagination {
            display: flex;
        }

        .current {
            font-weight: bold;
        }

        a {
            text-decoration: none;
            text-align: center;
        }

        .abutton {
            background-color: #e6e6ff;
            color: #7b7b7b;
            font-size: small;
        }

.subheading{
    color: orange;
}

#ocean{
    font-size: 35px;
    margin-top: 10px;
}

#write{
    text-align: right;
    margin-right: -75%;
}

tr{
    text-align: center;
}

th, tr, td{
    border: 0.5px solid;
}