{% extends 'base.html' %}
{% load static %}
{% block content%}
<!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h2>오늘 여행지 추천은?</h2>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<link rel="stylesheet" href="{% static 'recommend_app/ver1.css'%}">
<p id="title"> 관광명소 In JEJU </p>

{% endblock %}